* {
  background-color: #f2f5f8;
}
/* body {
  background-color: #f2f5f8;
  height: 100vh;
} */
/* div {
  background-color: #fff;
} */
/* p {
  background-color: #fff;
} */
.backgroud {
  background-color: #fff;
}
header {
  height: 50px;
  width: 100%;
  background-color: yellow;
}

.title-cart {
  background-color: #fff;
  margin: 10px auto;
  height: 62px;
  /* border: 1px solid black; */

  width: 100%;
  /* border: 1px solid #333; */
  /* box-sizing: border-box; */
  font-size: 24px;
  font-weight: 600;
  line-height: 62px;
  padding-left: 30px;
  /* box-shadow: 2px #333; */
}
.products-lists {
  width: 64%;
  /* border: 1px solid black; */
  background-color: #fff;
}

.products-check-all {
  display: flex;
  background-color: #fff;
  margin-top: 5px;
  align-items: center;
  height: 50px;
  /* margin-bottom: 2px; */
}
hr {
  width: 100%;
}
.check {
  width: 22px;
  height: 22px;
  color: #333;
  margin-left: 20px;
}
.products-check-all p {
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 30px;
}
.product-item {
  /* clear: both; */
  padding: 2rem 0 2rem;
  /* float: left; */
  /* align-items: center; */
  /* height: 220px; */
  background-color: #fff;
}
.product-item > div {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.item {
  margin-bottom: 5px;
  width: 100%;
  background-color: #fff;
  display: flex;
}
.item-image {
  margin-left: 15px;
  /* width: 100%; */
  margin-right: 20px;
}
.item-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.item-information {
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between; /* Đẩy nội dung giữa phần trên và dưới */
  height: 100%; /* Đảm bảo chiều cao của khung */
}
.item-information-top {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
}

.item-information-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.item-quantity {
  /* display: inline-flex;
   */
  /* width: 100%; */
  display: flex;
  align-items: center;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 12px;
  color: #333;
  /* color: rgb(97, 97, 97); */
  width: 80px;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
  /* text-align: center; */
  margin: 0 20px;
}
.item-quantity button {
  background: none;
  border: none;
  font-size: 15px;
  color: #333;
}
.item-quantity span {
  width: 30px;
  text-align: center;
  padding: 0 10px;
  background: none;
}
select {
  /* border: 10px; */
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500px;
  /* height: 3rem; */
  line-height: 22px;
  background: #f2f5f8;
  width: 9rem;
}

/* option {
  font-size: 20px;
  font-weight: 500px;
  line-height: 22px;
} */
.products-carts {
  /* display: block; */
  display: flex;
  justify-content: space-between;
}
.cart-information {
  width: 35%;
  /* background: #fff; */
  background-color: #fff;
  /* border: 1px solid black; */
  /* text-align: center; */
  /* margin: 0 5px; */
}
.cart-detail {
  background-color: #fff;
  padding: 10px 15px;
  /* justify-content: space-between; */
}

.cart-information-detail .cart-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
.cart-ship {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: 400px;
  background-color: #fff;

  color: rgb(97, 97, 97);
}
.cart-ship span {
  /* background: #fff; */
  background-color: #fff;
}
.cart-sum {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  background-color: #fff;
  color: #000;
}
.sum span {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  background-color: #fff;

  color: #000;
}
.free-ship span {
  background-color: #fff;

  color: red;
}
.btn-confirm {
  width: 100%;
  height: 50px;
  margin: 25px auto;
  border-radius: 10px;
  background-color: rgb(252, 175, 23);
}
.cart-voucher {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(7, 148, 85);
  margin-bottom: 20px;
  background-color: #fff;
}
.cart-connect {
  display: flex;
  width: 100%;
  /* text-align: center; */
  justify-content: center;
  background-color: #fff;
}
.cart-connect > img {
  /* width: 100%; */
  background-color: #fff;
  height: 3rem;
}
.cart-and {
  text-align: center;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  /* margin: 5px auto; */
  /* padding: 10px auto; */
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(57, 73, 96);
}

.child-product-item {
  background-color: #fff;
}
p {
  background-color: #fff;
}
