*{
    box-sizing: border-box;
}
.breadcrumb{
    display: flex;
}
.breadcrumb__item{
    margin: 30px 0;
}
.breadcrumb__link{
    text-decoration: none;
    padding: 0 0 0 20px;
    color: gray;

}
/* css product */
.product{
    display: flex;
    padding: 0 30px;
}
.product-gallery{
    display: flex;
}

.product-gallery__main-image{
    max-width: 500px;
}
.product-gallery__thumbnails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

}
.product-gallery__thumbnail{
    max-width: 25px;
    max-width: 50px;
    padding-bottom: 20px;
}
.inner-grap{
    padding: 0 50px;
    
}
.product-details__inner-grap{
    display: flex;
    padding: 20px 0;
  
}
.product-details__rating{
    padding: 0 20px;
}


.product-details__name{
    padding: 10px 0;
    font-weight: bold;
}
.product-details__price{
    padding: 10px 0;
}
.product-details__price-current{
    font-size: 25px;
    color: red;
    font-weight: 500;
}
.product-details__price-original{
    color: gray;
    padding: 15px;
    text-decoration: line-through;

}
.product-details__discount{
    border-radius: 10px;
    background: #FCECEB;
    color: red;

}
.product-overview__color-options{
    display: flex;
    padding: 10px;
}

.product-overview__color-option{
    width: 40px;   
    height: 40px;
    border-radius: 50%;
    
}
.product-overview__color-option--black{
    margin-right: 10px;
    background: #5B5B5B;
}
.product-overview__color-option--brown{
    background: #7C6969;
}
.product-overview__color{
    padding: 30px 0;
}

.product-overview__size{
    margin-bottom: 20px;
        
}
.product-overview__size-option{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    
}
.product-overview__size-option:not(:first-child){
    margin: 10px 20px;
}






/* mua ngay */
.product-overview__buy-now{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #fcaf17;
    border: none;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
}